body {
    color:#113;
    font-size: 150%
}

a {
    text-decoration: none;
}

div.generated-link-container {
    margin-left: auto;
}

div.about-wrap-info {
    padding-top: 40px;
    padding-bottom: 0;
}

div.about-of-course {
    margin: 0;
    position: relative;
}

div.slotholder {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    visibility: inherit;
    opacity: 1;

}

div.greeting-image {
    background-image: url("/static/images/after_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 450px;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

div.contact_info {
    display:inline-block;
    left:0;
    top:0;
    width:100%;
}

span.hd-logo {
    font-size: 170%;
}

div.customize-login-container {
    background-image: url("/static/images/status_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    color: #ffffff;
    height:600px;
    padding-top:50px;
    padding-right:50px;
}

div.login-form-container {
    width: max-content;
    margin-left: auto;
    background: transparent;
    border-radius: 10px;
    padding:10px;
}

ul.contact_details {
    margin: 0;
    float:left;
    list-style: none;
    font-size: 1.1em;
    color: #ffffff;
}

ul.contact_details li {
    display: inline-block;
}

ul.social_menu {
    margin: 0;
    padding-right:16px;
    float:right;
    list-style: none;
    font-size: 1.1em;
    color: #ffffff;
}

ul.social_menu li {
    display: inline-block;
}

#header_wrapper {
    position: relative;
}

.row {
    height:500px;
    width:1000px;
    overflow:auto;
}

.col-4 {
    height:500px;
    width: 300px;
    overflow:auto;
}

.col-8 {
    height:500px;
    overflow:auto;
}
.logomain-menu {
}

.navtab-menu {
    height: 600px;
    width: 500px;
    padding-left: 15px;
}

.lg-main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.custom-alert {
    width: 500px;
}

.contact-information {
    color: darkcyan;
}

.contact-information-container {
    margin-top: 15px;
}